{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
<main id="explo">
    <h2 id="form">Demande de {{titre}}</h2>
    <section class ='formul'>
        <div>
            <form method="post">
                <h3>{{titre}}</h3>
                

                <!--Email-->
                <div>
                    <input type="email" value="{{ last_username }}" id="inputEmail" name="email" placeholder="Email (Requis)" required/>
                </div>

                <!--Mot de Passe-->
                <div>
                    <input type="password" id="inputPassword" name="password" placeholder="Mot de Passe (Requis)" required/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <!--Validation-->
            
                <button class="btn btn-lg btn-primary" type="submit">Envoyer</button>

                <p><a class='rose' href="{{path('oublimdp')}}">Mot de Passe oublié</a></p>


                <label for="_remember_me" class="check">
                    <input type="checkbox" name="_remember_me" id="_remember_me" value="true" class="inputcheck">
                     Rester connecté ?
                </label>

            </form>
        </div>
    </section>
</main>
{% endblock %}
