<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maxime LOPES - {% block title %}Didier{% endblock %}</title>
        
        <!-- CSS INTÉGRATION -->
        <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        <link rel="stylesheet" href="{{asset('css/projet.css')}}" />
        <link rel="stylesheet" href="{{asset('css/asset.css')}}" />
        <link rel="icon" href="{{asset('img/Logo.png')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>
        <!--ENTETE-->
        <header>
            <div>
                <a href="{{path('accueil')}}">
                    <img src="{{asset('img/picto.png')}}" alt="logo invisible"/>
                </a>
                {% if app.user %}
                    <a href="{{path('detailsutilisateur',{id : app.user.id})}}">
                        <span> {{app.user.nom}} {{app.user.prenom}} </span>
                    </a>
                {% endif %}
            </div>
        
            <!-- Barre de navigation pc -->
            <nav>
                <ul>
                    <li><a href="{{path('accueil')}}" class="active">Accueil</a></li>
                    <li class="menu"><a>Projet</a>
                        <ul class="sous">
                            <li><a href="{{ path('listeprojets', {type : 'game'}) }}">Game</a></li>
                            <li><a href="{{ path('listeprojets', {type : 'web'}) }}" class="notActive">Web</a></li>
                        </ul>
                    </li>
                    <li class="menu"><a>Galerie</a>
                        <ul class="sous">
                            <li><a href="{{ path('listegaleries', {type : 'modelisation'}) }}">Modèles 3D</a></li>
                            <li><a href="{{ path('listegaleries', {type : 'sprite'}) }}">Assets 2D</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menu"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    {% endif %}

                    <li class="menu"><a href="{{path('contact')}}">Contacts</a></li>
                    {% if not app.user %}
                        <li class="menu"><a href="{{path('app_login')}}">Connexion</a></li>
                    {% else %}
                        <li class="menu"><a href="{{path('app_logout')}}">Déconnexion</a></li>
                    {% endif %}

                </ul>
            </nav>

            <!-- Barre de navigation mobile -->
            <div class="menu-btn">
                <div class="menu-btn_burger"></div>
            </div>

            <div class="menu-mobile">
                <ul>
                    <li class="menuMobile"><a onclick="affichageSous(1)">Projet</a>
                        <ul class="sousMobile 1">
                            <li><a href="{{ path('listeprojets', {type : 'game'}) }}">Game</a></li>
                            <li><a href="{{ path('listeprojets', {type : 'web'}) }}" class="notActive">Web</a></li>
                        </ul>
                    </li>
                    <li class="menuMobile"><a onclick="affichageSous(2)">Galerie</a>
                        <ul class="sousMobile 2">
                            <li><a href="{{ path('listegaleries', {type : 'modelisation'}) }}">Modèles 3D</a></li>
                            <li><a href="{{ path('listegaleries', {type : 'sprite'}) }}">Assets 2D</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menu"><a href="{{path('dashboard')}}">Dashboard</a></li>
                    {% endif %}

                    <li class="menuMobile"><a href="{{path('contact')}}">Contacts</a></li>
                    {% if not app.user %}
                        <li class="menuMobile"><a href="{{path('app_login')}}">Connexion</a></li>
                    {% else %}
                        <li class="menuMobile"><a href="{{path('app_logout')}}">Déconnexion</a></li>
                    {% endif %}

                </ul>
            </div>
        </header>

        <!-- MESSAGE FLASH -->
        {% for message in app.flashes('success') %}
            <div class="succes">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Succes ! </strong>{{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %} 
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Erreur ! </strong>{{ message }}
            </div>
        {% endfor %}

        <!-- PARALLAX -->
        <section class="parallax">
            <img src="{{asset('img/Parallax/stars.png')}}" id="stars" alt="étoile invisible"/>
            <img src="{{asset('img/Parallax/moon.png')}}" id="moon" alt="lune invisible"/>
            <img src="{{asset('img/Parallax/mountains_behind.png')}}" id="mountains_behind" alt="montagne1 invisible"/>
            <h1 id="text">{{titre}}</h1>
            <a href="#explo" id="btn">Explorer</a>
            <img src="{{asset('img/Parallax/mountains_front.png')}}" id="mountains_front" alt="montage2 invisible"/>
        </section>


        <!-- CORPS DE LA PAGE -->
        {% block body %}Default body{% endblock %}


        <!-- PIED DE PAGE -->
        <footer>
            <div>
                <p>Mail : maxime.lopes@hotmail.com</p>
                <p>Téléphone : +33 6 22 65 86 70</p>
                <p>Site réalisé par LOPES Maxime en 2021</p>
                <a href="{{path('politique')}}">Mentions Légales</a>
                <a href="{{path('cgu')}}">CGU</a>
            </div>
        </footer>


        <!-- JAVASCRIPT INTÉGRATION -->
        <script src="{{asset('framework/jquery-3.6.0.min.js')}}"></script>
        <script src="{{asset('js/parallax.js')}}"></script>
        <script src="{{asset('js/frise.js')}}"></script>
        <script src="{{asset('js/dashboard.js')}}"></script>
        <script src="{{asset('js/projet.js')}}"></script>
        <script src="{{asset('js/asset.js')}}"></script>
        <script src="{{asset('js/burger.js')}}"></script>

    </body>

</html>